@media only screen and (min-width: 7in){
	.card {margin-left: 3%; margin-top: 3%; margin-right: 3%;}
}

body {
	background-color: #008080;
	background-image: url(cloudsBG.webp);
	background-position: top;
	background-repeat: repeat-y;
}

.welcomeIcon {
	transform: scale(.6);
	float: left;
	margin-top: 1%;
}

.welcomeTxt {
	margin-left: 2%;
}

.blogspane {
	margin-left: 78%;
}




