<html>
<head>
	<link rel="stylesheet" href="https://unpkg.com/98.css">
	<link rel="stylesheet" href="static/home.css">
	<link rel="script" href="home.js">
	<title>TEST TITLE</title>
</head>
<body>
	<div class="card">
		<div id="welcomeWindow" class="window" style="width: 75%; float: left;">
			<div class="title-bar">
				<div class="title-bar-text">WelcomeMsg.exe</div>
				<div class="title-bar-controls">
					<button aria-label="Minimize"></button>
					<button aria-label="Maximize"></button>
					<button aria-label="Close"></button>
				</div>
			</div>
			<div class="welcomeIcon"><img src="/static/netIcon.png" alt="Internet icon." /></div>
			<div class="WelcomeTxt"><h2>Welcome to CodeChronicles</h2> - A place for me to post all my random projects!</div>
		</div>

		<div id="colourToggle" class="window colourToggle">
			<div class="title-bar inactive">
				<div class="title-bar-text">ColToggle.exe</div>
				<div class="title-bar-controls">
					<button aria-label="Minimize"></button>
					<button aria-label="Maximize"></button>
					<button aria-label="Close"></button>
				</div>
			</div>
			<fieldset>
				<div class="field-row">Light/Dark mode:</div>
				<div class="field-row">
					<input id="light" type="radio" name="fieldset-example" />
					<label for="light">Light mode</label>

				<div class="field-row">
					<input id="dark" type="radio" name="fieldset-example" />
					<label for="dark">Dark mode</label>
				</div>
			</fieldset>
		</div>
	</div>
</body>
</html>