---
layout: default
---

<head>
	<link rel="stylesheet" href="/assets/css/postLayout.css">
</head>

<h2>{{ page.title }}</h2>
<form action="https://rssto.email" method="GET" target="_blank" style="margin: 2mm;">
    <input type="hidden" name="url" value="https://probablysomething.co.uk/feed.xml">
    <button type="submit">Sign up to the newsletter!</button>
</form>
<fieldset>
	<p>{{ page.date | date_to_string }} - {{ page.author }}</p>
</fieldset>

{{ content }}

<div>
	<script src="https://giscus.app/client.js"
        data-repo="probablyidiot/probablysomething.co.uk"
        data-repo-id="R_kgDOLqJ3Qw"
        data-category="Giscus"
        data-category-id="DIC_kwDOLqJ3Q84CmY_p"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
	</script>
</div>